@media(min-width: 768px) {
  .news_input{
    width: 50%;
    margin: auto;
  }
}
body{
    background-color: #e72c81;
    font-family: 'Arial', sans-serif;
}

#ul li a{
    border: 1px solid #514d4d;
    border-radius: 5px; 
    padding: 4px;
    text-decoration: none;
    margin: 3px;
    display: flex;
    float: right;
}
#ul :hover{
    background-color: #b1afaf;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 1px solid #b1afaf;
    border-radius: 10px;
    display: flex;

}
#showcase{
    padding: 100px;
    margin: 40px;
    
}
